.center
{
	text-align: center;
	margin: auto;
}

/*
**	Style button standard
*/

.btn
{
	background-color: #FFFFFF;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	padding: 10px 20px;
	cursor: pointer;
	transition: all ease 1s;
}
.btn:hover
{
	background-color: #34C765 !important;
	color: white;
}

/*
**	Style box (exemple : connexion)
*/

.boxstyle
{
	margin-top: 30px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 5px -5px 5px 0px rgba(171,171,171,0.78);
	-moz-box-shadow: 5px -5px 5px 0px rgba(171,171,171,0.78);
	box-shadow: 5px -5px 5px 0px rgba(171,171,171,0.78);
	margin-bottom: 30px;
	border: 1px solid #e5e5e5;
}

.white_grey_bg
{
	background-color: #efefef;
}

body
{
  font-family: 'Poppins', sans-serif;
}

.navbar
{
  background-color: #34C765;
}

ul
{
  list-style: none;
}

li
{
  display: inline-block;
  margin-right: 30px;
  border: solid 7px #fff;
  clip-path: polygon(
    calc(0% + 5px) calc(0% + 5px), /* top left */
    calc(100% - 5px) calc(0% + 5px), /* top right */
    calc(100% - 5px) calc(100% - 5px), /* bottom right */
    calc(0% + 5px) calc(100% - 5px) /* bottom left */
  );
  transition: clip-path 0.6s linear;
  padding: 15px;
}

.a-nav
{
  color: #ffffff;
  font-weight: bold;
}

.a-nav:hover
{
  color: #ffffff;
  list-style: none;
  text-decoration: none;
}
